.footer {
  height: 400px;
  background-color: $primary-color-light-50;
  border-top: 2px solid $primary-color-light-40;
  padding: 4em;
  @include flex(column, space-between, center);
  @include tablet {
    height: 100%;
    display: block;
    padding: 0px 1em;
  }
  &__top {
    &--logo {
      width: 160px;
      margin-left: 5px;
      @include tablet {
        margin-top: -35px;
        width: 220px;
        margin-inline: auto;
        gap: 30px;
      }
      @include flex(row, center, center);
      gap: 22px;
      color: $primary-color-30;
      &--1 {
        font-size: 28px;
      }
      &--2 {
        font-size: 30px;
      }
      &--3 {
        font-size: 37px;
      }
    }
    @include flex(row, space-between, start);
    @include tablet {
      display: block;
    }
    gap: 5%;
    &--item {
      @include tablet {
        margin-bottom: 20px;
        font-size: 1.3rem;
      }
      flex: 1;
      text-align: justify;
      @include flex(column, center, start);
      gap: 10px;
      font-size: 1rem;
      & > img {
        @include tablet {
          width: 220px;
          height: 200px;
          margin-bottom: -90px;
          margin: 0 auto;
        }
        margin-top: -30px;
        margin-bottom: -30px;
        width: 170px;
        height: 155px;
      }
      li {
        margin-bottom: 12px;
        @include tablet {
          margin-bottom: 5px;
        }
      }
      h1 {
        @include tablet {
          margin-bottom: 0px;
          font-size: 1.4rem;
        }
        color: lighten($title-color, 10);
        font-weight: $fw-bold;
        font-size: 1.3rem;
        margin-bottom: 16px;
      }
      span {
        @include tablet {
          font-size: 1rem;
        }
        color: lighten($black-color, 30);
      }
    }
  }
  &__bottom {
    @include tablet {
      gap: 1px;
      width: 100%;
      font-size: 1rem;
      margin: 20px auto;
    }
    @include flex(null, null, center);
    gap: 10px;
    margin-top: auto;
    font-size: $fs-sm;
    color: lighten($black-color, 39);
    &--logo {
      color: $primary-color;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .contact-info {
    color: $primary-color-10;
    font-weight: 500;
  }
}
