.nav_icons {
  @include flex();
  gap: 1em;
  font-size: 1.5rem;
  margin-inline: 1.1em;
  svg {
    cursor: pointer;
  }
  .cart-icon {
    position: relative;
  }
  .cartBadge {
    @include flex(row,center,center);
    position: absolute;
    bottom: 0;
    right: 12px;
    left: 21px;
    top: -10px;
    border-radius: 50px;
    width: 21px;
    height: 21px;
    font-size: $fs-sm;
    background-color: $primary-color-10;
    color: white;
  }
}
