.authProfile {
  position: relative !important;
  margin: 0 !important;
  padding: 4px 0 !important;
  text-align: left !important;
  list-style-type: none !important;
  background-color: white !important;
  background-clip: padding-box !important;
  border-radius: 4px !important;
  outline: none !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
}
