.contact_form_wrapper {
  @include tablet {
    width: 100%;
  }
  width: 50%;

  .contact_form_title {
    @include tablet {
      font-size: 1.3rem;
    }
    font-size: 2rem;
    color: $title-color;
    margin-bottom: 0.5em;
  }
  .contact_form_name {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 1fr;
  }
  .contact_input {
    margin-bottom: 1.2rem;
  }
}
