.menu-item-drop {
  position: relative;
  @include flex(row, space-between, space-between);
  height: 40px;
}

.menu-item {
  height: 100%;
  @include flex(row, center, center);
  font-weight: $fw-semi-bold;
  position: relative;
  .link {
    @include tablet {
      gap: 6px;
      svg {
        font-size: 1.8rem;
        color: rgb(40, 39, 37);
      }
    }
    @include flex(row, center, center);
  }
  .new-item {
    color: $secondary-color;
  }
  .badge {
    position: absolute;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: $primary-color-light;
    color: #ffffff;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    bottom: 32px;
    right: 6px;
  }
  .new-item-svg {
    color: $secondary-color;
  }
  &:hover {
    color: $primary-color;
  }
  svg {
    margin-left: 3px;
    &:hover {
      cursor: pointer;
    }
  }
}
