.nav-panel-1 {
  background-color: $primary-color-light-41;
}
.nav-panel-2 {
  background-color: $primary-color-light-39;
}

.nav-drawer {
  width: 100%;
  border-top: 2px solid $primary-color-10;
  height: calc(100dvh - $header-height);
  z-index: 3;
  position: fixed;
  @include flex(column, space-between, center);
  left: 0;
  top: $header-height;
  background-color: $primary-color-lighter;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  &.active {
    transform: translateX(0);
  }
  &-content {
    @include flex(column, start, start);
    width: 100%;
    height: 100%;
    gap: 1.1em;
    padding: 1rem;
    overflow: scroll;
  }
  &-footer {
    padding-inline: 1rem;
    width: 100%;
    background-color: $black-color-3;
    height: 80px;
    @include flex(row, space-between);
    .nav-drawer-contact {
      @include flex();
      gap: 2px;
      .drawer-phoneIcon {
        font-size: 1.6rem;
        font-weight: 600;
      }
      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    .nav-social {
      svg {
        cursor: pointer;
      }
      @include flex();
      gap: 15px;
      font-size: 1.6rem;
    }
  }
}
