@mixin transition($type: all, $time: 0.3s) {
  transition: $type $time ease-in-out;
}

@mixin overlay($opacity: 0.4, $show: 0, $color: black, $height: 100%) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
  background: rgba($color, $opacity);
  opacity: $show;
  cursor: pointer;
  @include transition(opacity, 0.5s);
  &:hover {
    opacity: 1;
  }
}

@mixin flex($dir: row, $content: center, $items: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $content;
  align-items: $items;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: ($size / 16px) * 1rem;
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 280px) {
    @content;
  }
}
