.home-products {
  color: $title-color;
  @include flex(column,null,center);
  text-align: center;
  margin: 60px auto;
  &__title {
    margin-bottom: 20px;
    font-weight: $fw-bolder;
    text-transform: capitalize;
    font-size: 1.9rem;
    @include tablet {
      font-size: 1.7rem;
    }
  }
  &__products {
    @include desktop {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 50px;
    }
    @include tablet {
      @include flex(column, center, center);
    }
  }
  &__button {
    text-transform: capitalize;
    padding: 9px 40px;
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-top: 20px;
    &:hover {
      color: $primary-color-10;
      border: 1px solid $primary-color-10;
    }
  }
}
