.card_container {
  @include tablet {
    width: 100%;
    height: 350px;
  }
  width: 250px;
  height: 400px;
  background-color: #f4f5f7;
  text-align: left;
  position: relative;
  cursor: pointer;
  &__img {
    @include tablet {
      height: 60%;
    }
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
  }
  &__overlay {
    @include tablet {
      @include overlay(
        $opacity: 0.8,
        $show: 0,
        $color: rgb(245, 245, 245),
        $height: 60%
      );
    }
    @include overlay();
    @include flex(column, center, center);
    &__button {
      @include tablet {
        display: none;
        color: white;
        padding: 9px 30px;
        font-weight: 600;
        font-size: 0.9rem;
        background: $primary-color;
      }
      background: white;
      color: $primary-color;
      padding: 9px 30px;
      font-weight: 500;
      transition: background-color 0.2s ease-in-out;
      &:hover,
      &:active {
        z-index: 999;
        display: block;
        color: white;
        background: $primary-color;
      }
    }
  }
  &__badge {
    @include flex();
    height: 38px;
    width: 38px;
    padding: 10px;
    border-radius: 50%;
    background: #e97171;
    color: white;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 12px;
    font-weight: 500;
    &.new {
      background: #2ec1ac;
    }
  }
  &__content {
    height: 135px;
    @include flex(column, space-between, start);
    &__title {
      @include tablet {
        font-size: 1rem;
      }
      margin-top: 8px;
      margin-bottom: 7px;
      color: $title-color;
      font-size: 1.09rem;
      font-weight: $fw-bold;
      text-transform: capitalize;
    }
    &__description {
      @include tablet {
        font-size: 0.9rem;
      }
      color: #898989;
      font-size: $fs-sm;
      font-weight: $fw-semi-bold;
    }
    &__prices {
      margin-top: auto;
      width: 100%;
      @include flex(row, space-between, center);
      &--1 {
        @include tablet {
          font-size: 1rem;
        }
        color: $title-color;
        font-size: 1.2rem;
        font-weight: $fw-bold;
      }
      &--2 {
        @include tablet {
          font-size: 1rem;
        }
        margin-left: auto;
        color: #b0b0b0;
        font-size: 1.1rem;
        font-weight: normal;
        text-decoration: line-through;
      }
    }
  }
  &.list {
    width: 90%;
    height: 300px;
    display: flex;
    img {
      height: 100%;
      width: 40%;
      justify-self: start;
    }
    h1 {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    h3 {
      font-size: 1.3rem;
      margin-bottom: 1em;
    }
  }
}
