.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  margin: 10px auto;
  background-color: white;
  @include flex(row, space-between, center);
}
.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  margin-left: 20px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: lighten(black, 50);
  }
}

#search-icon {
  color: $primary-color;
  font-size: 1.7rem;
}

/*change default date picker*/
.react-datepicker {
  font-size: 1.1em !important;
  min-width: 260px;
}
.react-datepicker__header {
  padding-top: 0.8em !important;
  background: lighten($primary-color, 45) !important;
  min-width: 256px;
  color: white !important;
}
.react-datepicker__month {
  margin: 0.4em 1em !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month {
  font-size: 1em !important;
}
.react-datepicker__navigation {
  top: 1em !important;
  line-height: 1.7em !important;
  border: 0.05em solid transparent !important;
}
.react-datepicker__navigation--previous {
  // border-right-color: #ccc !important;
  left: 1.1em !important;
}
.react-datepicker__navigation--next {
  right: 1em !important;
}
