$input-size: 40px;
.table__wrapper {
  padding: 3em 3em;
  @include flex(row, space-between, start);
  gap: 15px;
}
.tb__header {
  color: black !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
  font-family: $font-family-base !important;
  font-weight: 600 !important;
  border: none !important;
  padding: 1.1em !important;
}
.td__img {
  width: 90px;
  height: 90px;
  img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.td__icon {
  font-size: 1.5rem;
  color: $primary-color;
  cursor: pointer;
}
.td__reservation {
  width: 220px;
  font-size: 0.95rem !important;
  padding: 1.5em !important;
  gap: 0px !important;
  svg {
    font-size: 1.2rem;
  }
}
.td__input {
  width: $input-size;
  height: $input-size;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  text-align: center;
}

.table__card {
  padding: 1.5em;
  width: 100%;
  background-color: #f9f1e7;
  @include flex(column, start, center);
  gap: 1em;
  h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1em;
  }
  h2 {
    font-weight: 500;
  }
  button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.8em 1.1em;
    width: fit-content;
    margin-top: 1.5em;
    font-weight: 500;
  }
}
