$input-size: 40px;
.table__wrapper {
  @include tablet {
    display: inline;
    padding: 1em;
  }
  padding: 3em;
  @include flex(row, space-between, start);
  gap: 35px;
}
.tb__header {
  @include tablet {
    display: none;
  }
  color: lighten(black, 10) !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
  font-family: $font-family-base !important;
  font-weight: 600 !important;
  border: none !important;
  padding: 1.1em !important;
}
.td__title {
  &:hover {
    color: black;
    cursor: pointer;
  }
}
.td__img {
  @include tablet {
    width: 75px;
    height: 75px;
  }
  width: 90px;
  height: 90px;
  img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.td__icon {
  font-size: 1.5rem;
  color: $primary-color;
  cursor: pointer;
}
.td__reservation {
  width: 230px;
  font-size: 0.93rem !important;
  padding: 1.5em !important;
  gap: 0px !important;
  svg {
    font-size: 1.2rem;
  }
}
.td__input {
  @include tablet {
    width: 35px;
    height: 35px;
  }
  width: $input-size;
  height: $input-size;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  text-align: center;
}

.table__card {
  @include tablet {
    padding: 1.1em;
    margin-top: 1em;
    gap: 0.2em;
  }
  padding: 1.5em;
  width: 100%;
  background-color: #f9f1e7;
  @include flex(column, start, center);
  gap: 1em;
  h1 {
    @include tablet {
      font-size: 1.2em;
    }
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1em;
  }
  h2 {
    font-weight: 500;
  }
  button {
    @include tablet {
      text-align: center;
      font-size: 1em;
      display: block;
      justify-self: center;
    }
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.8em 1.1em;
    width: fit-content;
    margin-top: 1.5em;
    font-weight: 500;
  }
}
