.description__wrapper {
  @include tablet {
    @include flex(column, space-between, start);
    padding: 25px 30px 25px 55px;
    gap: 3em;
  }
  min-height: 200px;
  background: #faf3ea;
  padding: 80px;
  @include flex(row, space-between, center);

  &--item {
    @include flex();
    gap: 10px;
    svg {
      color: #242424;
    }
    &--content {
      h1 {
        @include tablet {
          font-size: 1rem;
        }
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #242424;
      }
      p {
        font-size: 0.9rem;
        color: #898989;
        font-weight: 600;
      }
    }
  }
}
