.filter-bar__container {
  color: $title-color;
  p {
    @include tablet {
      display: none;
      font-size: $fs-sm;
    }
  }
  font-weight: 500;
  height: 100px;
  padding: 10px 90px;
  background: #f9f1e7;
  @include flex(row, start, center);
  @include tablet {
    padding: 30px 20px;
    @include flex(column, center, center);
    gap: 10px;
  }
  &__content {
    @include flex();
    &--display {
      @include tablet {
        display: none;
      }
      @include flex();
      font-size: 23px;
      gap: 15px;
      cursor: pointer;
    }
    &--divider {
      border-left: 1px solid rgb(0, 0, 0);
      height: 30px;
      margin-inline: 20px;
      @include tablet {
        display: none;
      }
    }
  }
  &__inputs {
    @include flex();
    gap: 20px;
    @include desktop {
      margin-left: auto;
    }
    @include flex();
    .show_input {
      @include flex();
      label {
        font-size: 1.1rem;
        @include tablet {
          font-size: 1rem;
        }
      }
      input {
        width: 51px;
        height: 45px;
        margin-left: 8px;
        text-align: center;
        background-color: white;
        border-color: white;

        border-radius: 0px;
        @include tablet {
          width: 35px;
          height: 35px;
        }
      }
    }
    .filter_input {
      @include flex();
      label {
        width: 100px;
        font-size: 1.1rem;
        @include tablet {
          font-size: 1rem;
        }
      }
      select {
        cursor: pointer;
        height: 45px;
        margin-left: 2px;
        text-align: center;
        background-color: white;
        border-radius: 0px;
        border-color: white;
        // &:focus,&:active,&:visited{
        //   border:1px solid black;
        // }
      }
    }
  }
}
