.filter-bar__container {
  @include tablet {
    height: 80px;
    padding: 10px 15px;
  }
  p {
    @include tablet {
      display: none;
    }
  }
  color: $title-color;
  font-weight: 500;
  height: 80px;
  background: #f9f1e7;
  padding: 10px 90px;
  @include flex(row, start, center);
  &__content {
    @include flex();
    &--display {
      @include tablet {
        display: none;
      }
      @include flex();
      font-size: 23px;
      gap: 15px;
      cursor: pointer;
    }
    &--divider {
      border-left: 1px solid rgb(0, 0, 0);
      height: 30px;
      margin-inline: 20px;
      @include tablet {
        display: none;
      }
    }
  }
  &__inputs {
    @include tablet {
      width: 100%;
    }
    @include flex();
    gap: 20px;
    @include desktop {
      margin-left: auto;
    }
    @include flex();
    .show_input {
      @include flex();
      label {
        font-size: 1.2rem;
        @include tablet {
          font-size: 1rem;
          display: none;
        }
      }
      input {
        height: 45px;
        margin-left: 8px;
        text-align: center;
        background-color: white;
        border-color: white;
        border-radius: 0px;
      }
    }
    .filter_input {
      @include tablet {
        margin-left: auto;
      }
      width: 100%;
      @include flex();
      label {
        width: 110px;
        font-size: 1.1rem;
        @include tablet {
          display: none;
        }
      }
      select {
        cursor: pointer;
        border: none;
      }
    }
  }
}
