.showProducts_container {
  padding: 20px 30px;
  @include flex(row, space-between, start);
  @include tablet {
  }
  &__left {
    flex: 1;
    .title {
      margin-top: -15px;
      margin-bottom: 0.9em;
      color: $title-color;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 2.5rem;
      @include tablet {
        display: none;
      }
    }
    .content {
      @include flex(column, start, start);
      gap: 1.1em;
      &__input {
        font-size: 1.2rem;
        font-weight: 500;
        color: lighten(black, 25);
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
      }
    }
    @include tablet {
      @include flex();
    }
  }
  &__right {
    &.grid {
      flex: 4;
      @include flex();
      flex-wrap: wrap;
      gap: 40px;
      @include tablet {
      }
    }
    &.list {
      flex: 6;
      @include flex(column, center, center);
      flex-wrap: wrap;
      gap: 30px;
      @include tablet {
      }
    }
  }
}
