.showProducts_container {
  padding: 30px 40px;
  @include flex(row, space-between, start);
  @include tablet {
    display: block;
    padding: 20px 10px;
  }
  &__left {
    .title {
      margin-top: -15px;
      margin-bottom: 1.1em;
      color: $title-color;
      font-weight: 500;
      font-size: 1.3rem;
      @include tablet {
        display: none;
      }
    }
    .content {
      @include flex(column, start, start);
      gap: 1.1em;
      &__input {
        @include tablet {
          font-size: 1rem;
        }
        font-size: 1.1rem;
        font-weight: 400;
        color: lighten(black, 25);
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
      }
      @include tablet {
        @include flex();
        flex-wrap: wrap;
      }
    }
  }
  &__right {
    @include flex(column, space-between, center);
    gap: 30px;
    flex: 4;
    &--products {
      &.grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 30px;
        @include tablet {
          gap: 5px;
        }
      }
      &.list {
        flex: 6;
        @include flex(column, center, center);
        flex-wrap: wrap;
        gap: 30px;
        @include tablet {
        }
      }
    }
  }
}
