.shopProducts_container {
  @include tablet {
    margin-top: 10px;
    display: block;
    padding: 5px 10px;
  }
  padding: 30px 40px;
  @include flex(row, space-between, start);
  &__left {
    width: 19%;
    @include tablet {
      width: 100%;
    }
    .title {
      @include tablet {
        margin-top: 0px;
        font-size: 1.2rem;
      }
      margin-top: -0.2em;
      margin-bottom: 1.1em;
      color: $title-color;
      font-weight: 500;
      font-size: 1.3rem;
    }
    .content {
      @include tablet {
        @include flex(row, start, center);
        flex-wrap: wrap;
      }
      @include flex(column, start, start);
      gap: 1.1em;
      &__input {
        @include tablet {
          font-size: 1.1rem;
          gap: 0.3em;
        }
        font-size: 1.1rem;
        font-weight: 400;
        color: lighten(black, 25);
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
      }
    }
  }
  &__right {
    width: 80%;
    @include tablet {
      margin-top: 30px;
    }
    @include flex(column, space-between, center);
    gap: 30px;
    &--products {
      &.grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2.5em;
        @include tablet {
          gap: 5px;
          @include flex(column, space-between, center);
        }
      }
      &.list {
        flex: 6;
        @include flex(column, center, center);
        flex-wrap: wrap;
        gap: 30px;
        @include tablet {
        }
      }
    }
  }
}
