$primary-color: #ac8f67;
$primary-color-10: darken($primary-color, 10);
$primary-color-20: darken($primary-color, 20);
$primary-color-30: darken($primary-color, 30);
$primary-color-40: darken($primary-color, 40);
$primary-color-50: darken($primary-color, 50);
$primary-color-60: darken($primary-color, 60);

$secondary-color: #755a00;

$primary-color-light: lighten($primary-color, 10);
$primary-color-light-20: lighten($primary-color, 20);
$primary-color-light-30: lighten($primary-color, 30);
$primary-color-light-39: lighten($primary-color, 39);

$primary-color-light-40: lighten($primary-color, 40);
$primary-color-light-41: lighten($primary-color, 41);
$primary-color-light-50: lighten($primary-color, 50);
$primary-color-light-60: lighten($primary-color, 60);
$primary-color-lighter: lighten($primary-color, 43);
$primary-color-dark: darken($primary-color, 80);

$content-layout-background: #fafafa;

$title-color: #3a3a3a;

$black-color: #282725;
$black-color-75: rgba(40, 39, 37, 0.75);
$black-color-50: rgba(40, 39, 37, 0.5);
$black-color-25: rgba(40, 39, 37, 0.25);
$black-color-10: rgba(40, 39, 37, 0.1);
$black-color-5: rgba(40, 39, 37, 0.05);
$black-color-3: rgba(40, 39, 37, 0.03);
