$primary-color: #f6bc00;
$primary-color-10: #dda900;
$primary-color-20: #c59600;
$primary-color-30: #ac8400;
$primary-color-40: #947100;
$primary-color-50: #7b5e00;
$primary-color-60: #624b00;

$secondary-color: #755a00;

$primary-color-light: #f7ce4a;
$primary-color-dark: #c29500;

$content-layout-background: #fafafa;

$black-color: #282725;
$black-color-75:rgba(40, 39, 37,0.75);
$black-color-50:rgba(40, 39, 37,0.50);
$black-color-25:rgba(40, 39, 37,0.25);
$black-color-10:rgba(40, 39, 37,0.10);
$black-color-5:rgba(40, 39, 37,0.05);
$black-color-3:rgba(40, 39, 37,0.03);
