:root {
  font-family: $font-family-base !important;
  font-size: $fs-base;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white !important;
  color: $black-color !important;
  font-weight: $fw-normal !important;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Change default slick arrows*/
.slick-prev:before,
.slick-next:before {
  color: $primary-color-light-20;
  @include tablet {
    display: none;
  }
}
