:root {
  font-family: $font-family-base !important;
  font-size: $fs-base;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100% !important;
  font-family: $font-family-base !important;
  font-weight: 400 !important;
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white !important;
  color: $black-color !important;
  font-weight: $fw-normal !important;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Change default slick arrows*/
.slick-prev:before,
.slick-next:before {
  color: $primary-color-light-20;
  @include tablet {
    display: none;
  }
}
/*change default date picker*/
.react-datepicker {
  font-size: 1.1em !important;
  min-width: 260px;
}
.react-datepicker__header {
  padding-top: 0.8em !important;
  background: $primary-color !important;
  min-width: 256px;
}
.react-datepicker__month {
  margin: 0.4em 1em !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month {
  font-size: 1em !important;
}
.react-datepicker__navigation {
  top: 1em !important;
  line-height: 1.7em !important;
  border: 0.05em solid transparent !important;
}
.react-datepicker__navigation--previous {
  // border-right-color: #ccc !important;
  left: 1.1em !important;
}
.react-datepicker__navigation--next {
  right: 1em !important;
}
